.partnersList {
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  
    a {
      flex-basis: calc(25% - 40px);
      margin-bottom: 40px;
      padding: 20px;
    }
  
    @media screen and (max-width: 879px) {
      justify-content: center;
    }
}