.input {
    width: 100%;
    box-sizing: border-box;
  }
  
  .label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }
  
  .inputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  
  .inputElement:focus {
    outline: none;
    background-color: #ccc;
  }
  
  .invalid {
    border: 1px solid red;
    background-color: #FDA49A;
  }