@import '../../styles/theme';

.home {
  background-color: $background-color;

  .half {
    margin-bottom: 115px;
  }

  .wrapperIntroduction {
    position: relative;
    margin-top: 600px;
    background: $background-color-home-introduction;
    padding-bottom: 200px;

    .introduction {
      position: relative;
      top: -480px;
      max-height: 100%;
      height: 960px;
      width: 90%;
      background: url('/images/home.png') no-repeat left;
      background-size: 100%;
      @media screen and (max-width: 768px) {
        top: 0;
        width: 100%;
        height: 500px;
      }
    }

    .quote {
      position: absolute;
      top: 620px;
      left: 0;
      right: 0;
      max-width: 740px;
      margin: 0 auto;
      color: $text-color-quote;
      font-size: 36px;
      line-height: 57px;
      text-align: center;
      padding: 40px;

      a {
        color: $text-color-quote;
        font-size: 20px;
        margin: 50px auto 0;
        &:before {
          background-color: $text-color-quote;
        }
        @media screen and (max-width: 768px) {
          font-size: 14px;
          margin: 20px auto 0;
        }
      }
      @media screen and (max-width: 768px) {
        position: relative;
        top: 0;
        font-size: 24px;
        line-height: 38px;
      }
    }
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }

  .wrapperRecentProjects, .wrapperContentRecentProjects {
    background-color: $background-color-home-projects;
  }

  .wrapperRecentProjects {
    h2 {
      margin-bottom: 80px;
    }
  }

  .wrapperPartners, .wrapperContentPartners {
    background-color: #FFFFFF;
  }

  .wrapperPartners {
    margin-bottom: -50px;
    h2 {
      color: #454545;
      margin-bottom: 75px;
    }
    .wrapperContentPartners {
      padding-bottom: 0;
    }
  }
}