@import '../../styles/theme';

.projectItemLight {
  max-width: 460px;
  margin: 0 auto 20px;

  &:nth-child(even) {
    margin-top: 60px;
    @media screen and (max-width: 955px) {
      margin-top: 0;
    }
  }

  img {
    max-width: 460px;
    margin-bottom: 10px;
    width: 100%;
  }

  h3 {
    font-size: 24px;
    color: $text-color-wrapper;
    line-height: 66px;
    margin: 0;
    @media screen and (max-width: 768px) {
      font-size: 20px;
      line-height: 56px;
    }
  }

  .date {
    color: $text-color-secondary;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 18px;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
  }

  a {
    font-size: 14px;
    @media screen and (max-width: 955px) {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 955px) {
    margin: 0 auto 50px;
  }
}