@import '../../styles/theme';

.contact {
  //max-width: $max-width;
  margin: 90px auto 0;
  .wrapper {
    background-color: $background-color-contact-wrapper;
    margin-top: 180px;

    .antenna {
      display: none;
    }

    .wrapperContent {
      background-color: $background-color-contact-content;
      padding-top: 0;
      padding-bottom: 0;
      top: -110px;

      > h2 {
        display: none;
      }

      h2 {
        font-family: "Merriweather Light", sans-serif;
        font-size: 30px;
        font-weight: lighter;
        color: $text-color-contact-title;
        line-height: 66px;
        margin: 0 0 36px;
        @media screen and (max-width: 600px) {
          font-size: 26px;
          line-height: 50px;
        }
      }

      .half {
        justify-content: space-between;
        padding: 90px 120px !important;

        .left {
          max-width: 460px;
          margin: 0 auto;

          .requiredText {
            font-family: "Fabrikat Regular", sans-serif;
            text-transform: uppercase;
            color: $text-color-contact-label;
            opacity: .5;
            margin-bottom: 24px;
            font-size: 12px;
            letter-spacing: 1.56px;
            text-align: right;
          }

          .input {
            margin-bottom: 24px;
            button {
              background-color: transparent;
              width: 100%;
              padding: 18px;
              font-size: 14px;
              -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
              -moz-box-sizing: border-box; /* Firefox, other Gecko */
              box-sizing: border-box;
              font-family: "Fabrikat Regular", sans-serif;
              text-transform: uppercase;
              text-align: center;
              border: 1px solid $text-color-secondary;
              color: $text-color-secondary;
              letter-spacing: 1.56px;
              &:hover {
                cursor: pointer;
              }
              &:disabled {
                cursor: not-allowed;
              }
            }
          }
        }

        .right {
          max-width: 330px;
          color: $text-color-contact-ways;

          div {
            line-height: 26px;
          }

          @media screen and (max-width: 955px) {
            display: none;
          }
        }

        @media screen and (max-width: 955px) {
          padding: 40px !important;
        }

        @media screen and (max-width: 600px) {
          padding: 0 !important;
        }
      }
      @media screen and (max-width: 955px) {
        margin: 40px !important;
      }
      @media screen and (max-width: 600px) {
        padding: 40px;
      }
    }
    @media screen and (max-width: 600px) {
      margin-top: 20px;
      margin-bottom: -110px;
    }
  }
  @media screen and (max-width: 955px) {
    margin-bottom: -40px;
  }
}