.toolbar {
    display: flex;
    height: 168px;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 100;
    max-width: 100%;
    margin: 0 auto;
  
    .menu {
      z-index: 10;
  
      ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        justify-content: space-between;
        width: 430px;
        margin: 0 auto;
  
        &.submenu {
          display: none;
          position: absolute;
  
          li {
            padding: 0;
            margin: 20px 0;
          }
        }
  
        li {
          padding: 20px;
  
          &.hasChild {
            &:hover {
              .submenu {
                display: block;
              }
            }
  
            > a:after {
              color: #FFFFFF;
              content: ' ▾';
            }
          }
          a {
            color: #333;
          }
        }
        @media screen and (max-width: 760px) {
          display: none;
        }
      }
  
      a {
        position: relative;
        text-decoration: none;
  
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: -8px;
          left: 0;
          background-color: #000;
          visibility: hidden;
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
        }
  
        &:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
  
      .responsive {
        position: fixed;
        left: 0;
        right: 0;
        background-color: #FFF;
        top: -250px;
        z-index: 10;
        border-bottom: 1px solid #131314;
        -webkit-transition: top 1s;
        -moz-transition: top 1s;
        -ms-transition: top 1s;
        -o-transition: top 1s;
        transition: top 1s;
        ul {
          display: block !important;
          padding: 0;
          margin-top: 100px;
          text-align: center;
          li {
            margin: 30px;
          }
        }
        @media screen and (min-width: 761px) {
          display: none;
        }
      }
  
      .responsive.open {
        top: 0 !important;
      }
    }
  
    .logo {
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
  
  .reverse {
    flex-flow: row-reverse;
  }
  
  .logoTop {
    display: block;
    text-align: center;
  
    .menu ul {
      margin: 30px auto;
    }
  
    @media screen and (max-width: 760px) {
      display: flex;
    }
  }