a.socialIcon {
  margin-left: 17px;
  display: block;

  &:hover svg path {
    fill: #FFF;
  }

  svg path {
    -o-transition: fill .3s ease-in;
    -ms-transition: fill .3s ease-in;
    -moz-transition: fill .3s ease-in;
    -webkit-transition: fill .3s ease-in;
    /* ...and now override with proper CSS property */
    transition: fill .3s ease-in;
  }

  &.border {
    &:hover svg path {
      stroke: #FFF;
      fill: none;
    }

    svg path {
      -o-transition: stroke .3s ease-in;
      -ms-transition: stroke .3s ease-in;
      -moz-transition: stroke .3s ease-in;
      -webkit-transition: stroke .3s ease-in;
      /* ...and now override with proper CSS property */
      transition: stroke .3s ease-in;
    }
  }
}