@import '../../styles/theme';

.projectItem {
  max-width: 980px;
  margin: 0 auto 80px;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    margin: 0 auto 180px;
    @media screen and (max-width: 955px) {
      margin: 0 auto 90px;
    }
  }

  .left {
    margin: 0 auto;
    max-width: 460px;

    .title {
      color: $text-color-primary;
      font-size: 24px;
      font-weight: normal;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }

    .description {
      color: #8D9598;
      line-height: 32px;
      font-size: 16px;
      margin-bottom: 40px;
      @media screen and (max-width: 768px) {
        line-height: 28px;
        font-size: 14px;
        margin-bottom: 20px;
      }
    }

    .date {
      font-family: "Fabrikat Regular", sans-serif;
      color: $text-color-project-date;
      font-size: 18px;
      text-transform: uppercase;
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 955px) {
      margin-bottom: 40px;
    }
  }

  .right {
    width: auto;
    .image {
      margin: 0 auto;
      max-width: 460px;
      width: 100%;
      display: block;
    }
  }
  @media screen and (max-width: 955px) {
    margin: 0 auto 60px;
  }
}