$max-width: 1180px;

// Light
$text-color-primary: #121212;
$text-color-secondary: #BAC3C7;
$text-color-quote: #BAC3C7;
$text-color-wrapper: #454545;
$text-color-project-date: #BAC3C7;
$text-color-gallery-title: #454545;
$text-color-contact-title: #FFFFFF;
$text-color-contact-label: #BAC3C7;
$text-color-contact-ways: #BAC3C7;
$antenna-color: #BAC3C7;
$background-color: #FFFFFF;
$background-color-home-introduction: #121212;
$background-color-home-projects: #F9F9F9;
$background-color-projects: #F9F9F9;
$background-color-why-team: #121212;
$background-color-contact-wrapper: #F9F9F9;
$background-color-contact-content: #121212;

// Dark
/*
$text-color-primary: #FEFEFE;
$text-color-secondary: #BAC3C7;
$text-color-quote: #FEFEFE;
$text-color-wrapper: #FEFEFE;
$text-color-project-date: #FEFEFE;
$text-color-gallery-title: #FEFEFE;
$text-color-contact-title: #121212;
$text-color-contact-label: #8D9598;
$text-color-contact-ways: #8D9598;
$antenna-color: #FEFEFE;
$background-color: #121212;
$background-color-home-introduction: #BAC3C7;
$background-color-home-projects: #121212;
$background-color-projects: #BAC3C7;
$background-color-why-team: #BAC3C7;
$background-color-contact-wrapper: #BAC3C7;
$background-color-contact-content: #FEFEFE;*/
