@import '../../styles/theme';

.projects {
  .half {
    margin-bottom: 270px;
  }

  .wrapper {
    background-color: $background-color-projects;
    .wrapperContent {
      background-color: $background-color-projects;
      padding-bottom: 0;
      margin-bottom: -40px;

      h2 {
        margin-bottom: 140px;
        @media screen and (max-width: 768px) {
          margin-bottom: 70px;
        }
      }

      a {
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}