@import '../../styles/theme';

.wrapper {
  .wrapperContent {
    max-width: $max-width;
    position: relative;
    top: -110px;
    margin: 0 auto;
    color: $text-color-wrapper;
    padding-top: 148px;
    padding-bottom: 74px;

    .antenna {
      position: absolute;
      left: 0;
      right: 0;
      top: -99px;
      width: 1px;
      height: 188px;
      background: $antenna-color;
      margin: 0 auto;
    }

    .title {
      text-align: center;
      font-size: 30px;
      font-weight: normal;
      @media screen and (max-width: 768px) {
        font-size: 26px;
      }
    }

    @media screen and (max-width: 1080px) {
      padding: 148px 40px 74px;
    }
  }
}