@import '../../styles/theme';

.input {
  margin-bottom: 24px;

  label {
    display: block;
    font-family: "Fabrikat Regular", sans-serif;
    text-transform: uppercase;
    color: $text-color-contact-label;
    opacity: .5;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 1.56px;
  }

  .invalid {
    border: 1px solid #FF000050 !important;
  }

  @-webkit-keyframes autofill {
    to {
      color: #666;
      background: transparent;
    }
  }

  input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }

  input[type="text"], input[type="email"], textarea, button {
    background-color: transparent;
    border: 1px solid #9AAEB730;
    width: 100%;
    padding: 18px;
    font-size: 14px;
    color: $text-color-contact-label;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
  }

  textarea {
    height: 130px;
    resize: none;
    &:focus {
      background-color: transparent;
    }
  }

  button {
    font-family: "Fabrikat Regular", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $text-color-secondary;
    color: $text-color-secondary;
    letter-spacing: 1.56px;

    &:hover {
      cursor: pointer;
    }
  }
}
