@import '../../styles/theme';

.half {
  max-width: $max-width;
  margin: 50px auto 0;
  padding: 0 40px;
  justify-content: space-between;

  .left {
    font-family: "Merriweather Regular", sans-serif;
    font-size: 48px;
    color: $text-color-primary;
    line-height: 66px;
    max-width: 480px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      font-size: 30px;
      line-height: 46px;
    }
  }

  .right {
    max-width: 500px;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 30px;
    }
  }

  &.asColumn {
    .left, .right {
      max-width: 100%;
    }
    .left {
      margin-bottom: 75px;
    }
  }

  @media screen and (max-width: 955px) {
    > div {
      text-align: center;
      margin: 0 auto;
      display: block !important;
    }
    .left {
      margin-bottom: 40px;
    }
    .right {
      a {
        margin: 50px auto 0;
      }
    }
  }
}