@import '../../styles/theme';

.footer {
  border-top: 1px solid #BAC3C730;
  .wrapper {
    max-width: $max-width;
    .columns {
      .column {
        max-width: 220px;
        .title {
          font-family: "Merriweather Light", sans-serif !important;
          font-size: 30px !important;
          font-weight: lighter;
          color: #FFFFFF;
          line-height: 66px;
          margin: 0 0 27px !important;
          @media screen and (max-width: 768px) {
            font-size: 24px !important;
            line-height: 40px;
          }
        }
        .content {
          font-family: "Merriweather Light", sans-serif !important;
          font-size: 14px !important;
          color: $text-color-secondary;
          line-height: 24px;
        }
        @media screen and (max-width: 830px) {
          margin-bottom: 20px;
        }
      }
      .copyright {
        font-family: "Merriweather Light", sans-serif;
        font-size: 14px !important;
        color: $text-color-secondary !important;
        padding: 30px !important;
        opacity: .5;
      }
      @media screen and (max-width: 830px) {
        padding: 40px 68px !important;
        display: block !important;
        text-align: center;
      }
    }
  }
}
