@import '../../styles/theme';

.linkSeeMore {
  margin-top: 50px;
  display: block;
  position: relative;
  display: table;
  font-family: "Fabrikat Medium", sans-serif;
  font-size: 16px;
  color: $text-color-primary;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 36px;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: $text-color-primary;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}