@import '../../styles/theme';

.link {
    font-family: "Merriweather Light", sans-serif;
    font-size: 14px;
    color: $text-color-secondary;
    &.linkActive {
        font-family: "Merriweather Regular", sans-serif;
        color: #FFFFFF;
    }
}