.column {
    max-width: 200px;
    margin: 0 auto;
  
    &:last-child {
      @media screen and (max-width: 600px) {
        border-bottom: 0;
        margin-bottom: 0;
      }
    }
  
    h4.title {
      font-family: "PlayfairDisplayRegular", serif;
      font-size: 24px;
      padding: 0;
      margin: 0 0 32px;
      @media screen and (max-width: 600px) {
        margin-bottom: 16px;
      }
    }
  
    .content {
      font-size: 16px;
      line-height: 30px;
  
      ul {
        padding: 0;
        list-style-type: none;
      }
    }
  
    @media screen and (max-width: 600px) {
      max-width: 100%;
      text-align: center;
      margin-bottom: 20px;
      border-bottom: 1px solid #FBFBFB10;
      padding: 0 40px 20px;
    }
}