@import '../../styles/theme';

.gallery {
  max-width: $max-width;
  margin: 0 auto 120px;

  h3 {
    text-align: center;
    line-height: 66px;
    font-size: 30px;
    color: $text-color-gallery-title;
    font-weight: lighter;
    margin: 80px 0;
    @media screen and (max-width: 768px) {
      font-size: 26px;
      line-height: 56px;
      margin: 40px 0;
    }
  }
}