.drawerToggle {
    z-index: 10;
    cursor: pointer;
  
    .open {
      width: 40px;
      height: 55px;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0;
      box-sizing: border-box;
  
      div {
        width: 90%;
        height: 3px;
        background-color: #000000;
      }
    }
  
    .close {
      display: flex;
      width: 40px;
      height: 55px;
      align-items: center;
      justify-content: space-around;
  
      &:before, &:after {
        position: absolute;
        content: ' ';
        height: 40px;
        width: 3px;
        background-color: #000000;
      }
  
      &:before {
        transform: rotate(45deg);
      }
  
      &:after {
        transform: rotate(-45deg);
      }
    }
  
    @media screen and (min-width: 761px) {
      display: none;
    }
  }