@import '../../styles/theme';

.why {
  .half {
    margin-bottom: 290px;

    @media screen and (max-width: 955px) {
      margin-bottom: 200px;
    }
  }

  .pageHeaderLeft {
    margin-right: 40px;
    @media screen and (max-width: 955px) {
      margin-right: 0;
    }
  }

  .wrapper {
    background-color: $background-color-why-team;
    .wrapperContent {
      color: #FFFFFF;
      background-color: $background-color-why-team;
      padding: 148px 0 74px;
      max-width: 100%;
        @media screen and (max-width: 955px) {
          padding: 148px 0 0;
          top: -60px;
        }
      }
  }
}