.half {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
  
    @media screen and (max-width: 955px) {
      display: block;
    }
  
    .left {
      width: 50%;
      @media screen and (max-width: 955px) {
        width: 100%;
      }
    }
  
    .right {
      width: 50%;
      @media screen and (max-width: 955px) {
        width: 100%;
      }
    }
  }
  
  .reverse {
    flex-direction: row-reverse;
    @media screen and (max-width: 955px) {
      flex-direction: row;
    }
  }
  
  .asColumn {
    flex-direction: column;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
    }
  }