@import '../../styles/theme';

.toolbar {
  max-width: $max-width !important;
  text-transform: uppercase;

  .menu {
    height: auto !important;
  }

  ul {
    width: 100% !important;
    @media screen and (max-width: 761px) {
      display: none !important;
    }
  }

  .logo {
    font-family: "Fabrikat Regular", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;

    a {
      text-decoration: none;
      color: $text-color-primary;
    }
  }

  .link {
    font-family: "Fabrikat Regular", sans-serif;
    font-size: 14px;
    color: $text-color-secondary !important;
    letter-spacing: 1.56px;

    &:before {
      background-color: $text-color-secondary !important;
    }
  }

  .linkActive {
    font-family: "Fabrikat Medium", sans-serif;
    color: $text-color-primary !important;
    &:before {
      background-color: $text-color-primary !important;
    }
  }

  .responsive {
    top: -395px !important;
    ul {
      margin-top: 0 !important;
    }
  }
}