@import './styles/theme';

.portfolio {
  background-color: $background-color;
  font-family: "Merriweather Light", sans-serif;
  font-size: 16px;
  color: $text-color-secondary;
  position: relative;
  top: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &.menuIsOpen {
    top: 395px
  }
  
  .content {
    flex: 1
  }
}
