body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'LemonMilk';
  src: url('./assets/fonts/lemonMilk/LemonMilk.eot');
  src: url('./assets/fonts/lemonMilk/LemonMilk.woff2') format('woff2'),
  url('./assets/fonts/lemonMilk/LemonMilk.woff') format('woff'),
  url('./assets/fonts/lemonMilk/LemonMilk.ttf') format('truetype'),
  url('./assets/fonts/lemonMilk/LemonMilk.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('./assets/fonts/montserrat-bold/Montserrat-Bold.eot');
  src: url('./assets/fonts/montserrat-bold/Montserrat-Bold.woff2') format('woff2'),
  url('./assets/fonts/montserrat-bold/Montserrat-Bold.woff') format('woff'),
  url('./assets/fonts/montserrat-bold/Montserrat-Bold.ttf') format('truetype'),
  url('./assets/fonts/montserrat-bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('./assets/fonts/montserrat-semibold/Montserrat-SemiBold.eot');
  src: url('./assets/fonts/montserrat-semibold/Montserrat-SemiBold.woff2') format('woff2'),
  url('./assets/fonts/montserrat-semibold/Montserrat-SemiBold.woff') format('woff'),
  url('./assets/fonts/montserrat-semibold/Montserrat-SemiBold.ttf') format('truetype'),
  url('./assets/fonts/montserrat-semibold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('./assets/fonts/montserrat-regular/Montserrat-Regular.eot');
  src: url('./assets/fonts/montserrat-regular/Montserrat-Regular.woff2') format('woff2'),
  url('./assets/fonts/montserrat-regular/Montserrat-Regular.woff') format('woff'),
  url('./assets/fonts/montserrat-regular/Montserrat-Regular.ttf') format('truetype'),
  url('./assets/fonts/montserrat-regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans SemiBold';
  src: url('./assets/fonts/worksans-semibold/WorkSans-SemiBold.eot');
  src: url('./assets/fonts/worksans-semibold/WorkSans-SemiBold.woff2') format('woff2'),
  url('./assets/fonts/worksans-semibold/WorkSans-SemiBold.woff') format('woff'),
  url('./assets/fonts/worksans-semibold/WorkSans-SemiBold.ttf') format('truetype'),
  url('./assets/fonts/worksans-semibold/WorkSans-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans Regular';
  src: url('./assets/fonts/worksans-regular/WorkSans-Regular.eot');
  src: url('./assets/fonts/worksans-regular/WorkSans-Regular.woff2') format('woff2'),
  url('./assets/fonts/worksans-regular/WorkSans-Regular.woff') format('woff'),
  url('./assets/fonts/worksans-regular/WorkSans-Regular.ttf') format('truetype'),
  url('./assets/fonts/worksans-regular/WorkSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans Medium';
  src: url('./assets/fonts/worksans-medium/WorkSans-Medium.eot');
  src: url('./assets/fonts/worksans-medium/WorkSans-Medium.woff2') format('woff2'),
  url('./assets/fonts/worksans-medium/WorkSans-Medium.woff') format('woff'),
  url('./assets/fonts/worksans-medium/WorkSans-Medium.ttf') format('truetype'),
  url('./assets/fonts/worksans-medium/WorkSans-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans Light';
  src: url('./assets/fonts/worksans-light/WorkSans-Light.eot');
  src: url('./assets/fonts/worksans-light/WorkSans-Light.woff2') format('woff2'),
  url('./assets/fonts/worksans-light/WorkSans-Light.woff') format('woff'),
  url('./assets/fonts/worksans-light/WorkSans-Light.ttf') format('truetype'),
  url('./assets/fonts/worksans-light/WorkSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fabrikat Regular';
  src: url('./assets/fonts/fabrikat-regular/Fabrikat-Regular.eot');
  src: url('./assets/fonts/fabrikat-regular/Fabrikat-Regular.woff2') format('woff2'),
  url('./assets/fonts/fabrikat-regular/Fabrikat-Regular.woff') format('woff'),
  url('./assets/fonts/fabrikat-regular/Fabrikat-Regular.ttf') format('truetype'),
  url('./assets/fonts/fabrikat-regular/Fabrikat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fabrikat Medium';
  src: url('./assets/fonts/fabrikat-medium/Fabrikat-Medium.eot');
  src: url('./assets/fonts/fabrikat-medium/Fabrikat-Medium.woff2') format('woff2'),
  url('./assets/fonts/fabrikat-medium/Fabrikat-Medium.woff') format('woff'),
  url('./assets/fonts/fabrikat-medium/Fabrikat-Medium.ttf') format('truetype'),
  url('./assets/fonts/fabrikat-medium/Fabrikat-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fabrikat Light';
  src: url('./assets/fonts/fabrikat-light/Fabrikat-Light.eot');
  src: url('./assets/fonts/fabrikat-light/Fabrikat-Light.woff2') format('woff2'),
  url('./assets/fonts/fabrikat-light/Fabrikat-Light.woff') format('woff'),
  url('./assets/fonts/fabrikat-light/Fabrikat-Light.ttf') format('truetype'),
  url('./assets/fonts/fabrikat-light/Fabrikat-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fabrikat Bold';
  src: url('./assets/fonts/fabrikat-bold/Fabrikat-Bold.eot');
  src: url('./assets/fonts/fabrikat-bold/Fabrikat-Bold.woff2') format('woff2'),
  url('./assets/fonts/fabrikat-bold/Fabrikat-Bold.woff') format('woff'),
  url('./assets/fonts/fabrikat-bold/Fabrikat-Bold.ttf') format('truetype'),
  url('./assets/fonts/fabrikat-bold/Fabrikat-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Light';
  src: url('./assets/fonts/merriweather-light/Merriweather-Light.eot');
  src: url('./assets/fonts/merriweather-light/Merriweather-Light.woff2') format('woff2'),
  url('./assets/fonts/merriweather-light/Merriweather-Light.woff') format('woff'),
  url('./assets/fonts/merriweather-light/Merriweather-Light.ttf') format('truetype'),
  url('./assets/fonts/merriweather-light/Merriweather-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Regular';
  src: url('./assets/fonts/merriweather-regular/Merriweather-Regular.eot');
  src: url('./assets/fonts/merriweather-regular/Merriweather-Regular.woff2') format('woff2'),
  url('./assets/fonts/merriweather-regular/Merriweather-Regular.woff') format('woff'),
  url('./assets/fonts/merriweather-regular/Merriweather-Regular.ttf') format('truetype'),
  url('./assets/fonts/merriweather-regular/Merriweather-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MillerText Roman';
  src: url('./assets/fonts/millertext-roman/MillerText-Roman.eot');
  src: url('./assets/fonts/millertext-roman/MillerText-Roman.woff2') format('woff2'),
  url('./assets/fonts/millertext-roman/MillerText-Roman.woff') format('woff'),
  url('./assets/fonts/millertext-roman/MillerText-Roman.ttf') format('truetype'),
  url('./assets/fonts/millertext-roman/MillerText-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MillerText Bold';
  src: url('./assets/fonts/millertext-bold/MillerText-Bold.eot');
  src: url('./assets/fonts/millertext-bold/MillerText-Bold.woff2') format('woff2'),
  url('./assets/fonts/millertext-bold/MillerText-Bold.woff') format('woff'),
  url('./assets/fonts/millertext-bold/MillerText-Bold.ttf') format('truetype'),
  url('./assets/fonts/millertext-bold/MillerText-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
