.footer {
    background-color: #121212;
    color: #FBFBFB;
    font-family: "LatoLight", serif;
    .wrapper {
      margin:0 auto;
      a {
        text-decoration: none;
      }
      .columns {
        display: flex;
        justify-content: space-around;
        padding: 84px 68px;
        border-bottom: 1px solid #FBFBFB10;
        @media screen and (max-width: 810px) {
          padding: 84px 40px;
        }
        @media screen and (max-width: 600px) {
          display: block;
          padding: 40px 40px 0 40px;
        }
      }
    }
  
    .copyright {
      padding: 25px;
      text-align: center;
      font-size: 12px;
      color: #FBFBFB50;
    }
}
  