.slider {
    margin-top: 50px;
    padding: 50px 0 130px;
    overflow: hidden;
}

.slider.slider-without-padding-bottom {
    padding: 50px 0 0px;
}

.slider-custom-width .slick-track {
    max-width: 800px !important;
    margin: 0 auto;
}

.slider-custom-width .slick-track .slick-slide {
    max-width: 400px !important;
}

.slider .slick-list {
    overflow: visible;
}

.slider .slick-slide {
    cursor: pointer;
}

.slider .slick-slide .slider-item {
    opacity: .75;
    position: relative;
    transition: all .3s ease;
    text-align: center;
    outline: none;
}

.slider .slick-slide .slider-item img {
    max-width: 100%;
    max-height: 380px;
    margin: 0 auto;
}

.slider .slick-slide .slider-item .informations {
    margin-top: 25px;
    opacity: 0;
}

.slider .slick-slide.slick-center .slider-item .informations {
    opacity: 1;
    transition: opacity 1.25s;
    -moz-transition: opacity 1.25s;
    -o-transition: opacity 1.25s;
    -webkit-transition: opacity 1.25s;
}

.slider .slick-slide .slider-item .informations .name {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
}

.slider .slick-slide .slider-item .informations .job {
    font-size: 14px;
    color: #BAC3C7;
}

.slider .slick-slide.slick-active .slider-item {
    z-index: 9;
}

.slider .slick-slide.slick-center .slider-item {
    opacity: 1;
    z-index: 10 !important;
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}

/*
    Dots
 */

.slider .slick-dots {
    height: 55px;
}

.slider .slick-dots button:before {
    display: none;
}

.slider .slick-dots button {
    top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid #FFFFFF50;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -webkit-transition: background-color .5s;
}

.slider .slick-dots button:hover {
    background-color: #FFF;
    transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -webkit-transition: background-color .5s;
}

.slider .slick-dots .slick-active button {
    background: #FFF;
}

@media (max-width: 955px) {
    .slider {
        padding: 50px 0 100px;
    }

    .slider .slick-slide .slider-item .informations .name {
        font-size: 16px;
    }

    .slider .slick-slide .slider-item .informations .job {
        font-size: 12px;
    }
}
